@charset "utf-8";

#topo{
	width:100%;
	height:200px;
	background-color: red;
	
	overflow: hidden;

	
}
.top1{

	width:25%;
	height:200px;
	float: left;
	background-color: blue;

}
 .top2{
	 width:25%;
	height:200px;
	float: right;
	background-color: yellow;

 }
#principal{}

#rodape{}
</html>